<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clickandshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/brand_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClickAndShop">
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".CategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".SellerActivity"
            android:exported="false" />
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".OrderActivity"
            android:exported="false" />
        <activity
            android:name=".AddressActivity2"
            android:exported="false" />
        <activity
            android:name=".AddressActivity1"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".VoucherActivity"
            android:exported="false" />
        <activity
            android:name=".ProductActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity2"
            android:exported="false" />
        <activity
            android:name=".ChatActivity1"
            android:exported="false" />
        <activity
            android:name=".bottomNavActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>